.select-list.popover-list {
  background-color: black;
  box-shadow: 0 0 5px #57FF57;
  padding: @component-padding/2;
  border: 1px solid #57FF57;

  .editor {
    margin-bottom: @component-padding/2;
  }

  .list-group li {
    padding-left: @component-padding/2;
  }
}
